---
import Common from '@/layouts/common.astro';
import { defaultLocale, getTranslations } from '@/lib/utils/i18n';

const {
  props: { locale = defaultLocale },
} = Astro;
const t = await getTranslations(locale, 'home');
---

<Common title="dom">
	<h1>{t.title}</h1>
</Common>
