---
import { cn } from '@/lib/utils';

const { classname } = Astro.props;
---

<div class={cn("relative w-full overflow-hidden rounded-2xl bg-background/40 mx-0", classname)}>
  <div class="relative flex flex-col rounded-2xl border border-transparent px-4 py-4 md:px-8 md:py-8">
    <slot />
  </div>
</div>