---
import { getTranslations } from '@/lib/utils/i18n';
import { getNavigationLinks, getSegments } from '@/lib/utils/navigation';
import LanguageSelect from './language-select.astro';

const currentPath = Astro.url.pathname;
const { currentLocale } = getSegments(currentPath);

const navigation = await getNavigationLinks(currentLocale);
const navigationTranslations = await getTranslations(
  currentLocale,
  'navigation',
);
---

<ul class="flex flex-col items-center md:items-start md:flex-row md:flex-wrap gap-4 md:gap-x-16 pointer-events-none focus-within:text-foreground-darken hover:text-foreground-darken">
  {navigation.filter((link) => !link.hide).map((link) => (
    <li>
      <a href={link.href} class="group pointer-events-auto block transition-colors duration-300 ease-in-out focus-within:text-foreground hover:text-foreground text-2xl md:text-lg font-medium">
        {navigationTranslations[link.title].toUpperCase()}
      </a>
    </li>
  ))}
</ul>
<div class="md:hidden flex gap-x-8"><LanguageSelect /></div>