---
import { getGlobals } from '@/lib/content/get-globals';
import { serializeSocials } from '@/lib/serializers/socials';
import NewsletterForm from './newsletter-form.astro';

const globals = await getGlobals();
const socials = serializeSocials(globals);
---

<footer>
  {globals?.newsletter && globals?.privacyPolicy && <NewsletterForm />}
  <ul>
    {socials.map((social) => (
      <li>
        <a href={social.href} target="_blank" rel="noopener noreferrer">
          {social.name}
        </a>
      </li>
    ))}
  </ul>
</footer>