---
import PortableText from '@/components/portable-text.astro';
import Base from '@/layouts/base.astro';
import { getTrack } from '@/lib/content/get-track';
import { getTracks } from '@/lib/content/get-tracks';
import type { SlugType } from '@/lib/types';

export async function getStaticPaths() {
  const tracks = await getTracks();

  return tracks.map(({ slug }: { slug: SlugType }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const track = await getTrack(params);

const baseLyrics = track.lyrics?.find((lyric) => lyric.language === 'pl');
---
<Base>
  <a href=`/albums/${track.album.slug}`>Back to {track.album.title}</a>
  <h1>Track: {track.title}</h1>
  {baseLyrics &&
    <h2>Lyrics:</h2>
    <PortableText portableText={baseLyrics.text} />
  }
</Base>