---
import Common from '@/layouts/common.astro';
import { getAlbums } from '@/lib/content';

const albums = await getAlbums();
---

<Common>
  <ul>
    {albums.map((album) => (
      <li>
        <a href={`/albums/${album.slug.current}`} data-astro-prefetch>{album.title}</a>
      </li>
    ))}
  </ul>
</Common>